@mixin set-content($color, $BG-color, $border, $padding, $margin) {
  color:$color;
  background:$BG-color;
  border:$border;
  padding:$padding;
  margin:$margin;
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  30% {
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}