@import "../common/colors.scss";

.panel{
  border:0;
  border-radius:5px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px $BG-Shadow;
}

.panel-body{
  padding: 15px 0;
}

.box-heading{
  display:table;
  width:80%;
  height:50px;
  font-size:25px; 
  text-align: center;
  margin: -40px 10% 20px;
  background:  $BG-Green-2;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 20px $BG-Shadow;
  >span{
    display:table-cell;
    vertical-align:middle;
  }
}