
  		<form [formGroup]="simpleForm" (ngSubmit)="save(simpleForm.value)" novalidate="novalidate" [ngClass]="{ 'submitted' : saveButtonClicked }">
	  		
	  		<app-animated-input [labelText] = "'First Name'" [inputControl] = "simpleForm.controls['firstName']"> </app-animated-input>

	  		<app-animated-input [labelText] = "'Last Name'" [inputControl] = "simpleForm.controls['lastName']"> </app-animated-input>

	  		<app-animated-input [inputType]="'select'" [labelText] = "'Sex'" [inputControl] = "simpleForm.controls['sex']" [dropDownConfig]="sexDropDownConfig"> </app-animated-input>

	  		<app-animated-input [inputType]="'date'" [labelText] = "'Date Of Birth'" [inputControl] = "simpleForm.controls['dateOfBirth']" [dateConfig]="dateOfBirthConfig"> </app-animated-input>

	  		<app-animated-input [inputType] = "'radio'" [labelText] = "'Experience Level'" [inputControl] = "simpleForm.controls['experienceLevel']" [radioGroupConfig]="experienceLevelConfig"> </app-animated-input>

	  		<app-animated-input [inputType] = "'checkbox'" [labelText] = "'I accept the terms & conditions'" [inputControl] = "simpleForm.controls['disclaimer']"> </app-animated-input>

		  	<button class="btn btn-primary pull-right" type="submit">Move on!</button>
		</form>
  	